<div class="container-fluid">
    <h1 class="text-center text-danger"> READY TO TRAVEL TO COSTA RICA AND HAVE A NEW SMILE?</h1>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <img class="img-fluid" src="../../../assets/TucanFondo.png" alt="" >
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="">Name</label>
                            <input type="text" class="form-control" required placeholder="Name">
                            <label for="">Email</label>
                            <input type="email" class="form-control" required placeholder="Name">
                            <label for="">Phone</label>
                            <input type="text" class="form-control" required placeholder="Name">
                            <label for="">I want to be contacted by:</label>
                            <select class="custom-select">
                                <option value="Phone">Phone</option>
                                <option value="Email">Email</option>
                                <option value="Text Message">Text</option>
                            </select>
                            <label for="">Do I have a passport?</label>
                            <select class="custom-select">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>

                            </select>
                            <label for="">Procedure that I am interested in:</label>
                            <select class="custom-select">
                                <option value="All on 6">All on 6 </option>
                                <option value="Other">Other</option>

                            </select>
                            <hr>
                            <button class="btn btn-danger" type="submit">Submit Information</button>
                            <br>
                            <br>
                            <br>
                            <strong>*Priced exclusively for bank in U.S.A or Cash payment.</strong>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>