<div class="animate__animated animate__bounceInDown">
        <img class="img-fluid mx-auto d-block" src="/assets/img/AllOn6Logo.png" width="auto">

<div class="d-flex flex-row-reverse bd-highlight ">


        <a class="mr-4" target="blank"
                href="https://www.facebook.com/All-on-6-Costa-Rica-111965091383509/?ref=pages_you_manage"><i
                        class="fa fa-facebook-official" aria-hidden="true" style="font-size: 1.2rem;color: rgb(31, 43, 100);"></i></a>
        <a class="mr-4" target="blank" href="https://www.instagram.com/allon6cr/"><i class="fa fa-instagram"
                        aria-hidden="true" style="font-size: 1.2rem;color: rgb(31, 43, 100);"></i></a>
        <a class="mr-4" target="blank" href="https://www.youtube.com/channel/UCPjy5MsKLz-a8lWAQppPaEg"><i
                        class="fa fa-youtube" aria-hidden="true" style="font-size: 1.2rem; color: rgb(31, 43, 100);"></i></a>
                <br>
                <br>
</div>

<app-navigation></app-navigation>

</div>
