<div class="footer-clean">
  <footer>
    <div class="container ">
      <div class="row justify-content-center">
      
        <div class="col-sm-4 col-md-3 item">
          <h3>Contact</h3>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Torre Medica 20/20 - 4to piso Sabana Oeste - San Jose - Costa Rica</li>
            <li><a href="tel:+1 954 607 1609"><i class="fa fa-phone" aria-hidden="true"></i> +1 954 607 1609</a></li>
            <li><a href="mailto:karla@freerdentalimplants.com">karla@freerdentalimplants.com</a></li>
          </ul>
         
        </div>
      
        <div class="col-lg-3 item social">

          <h3>Follow Us</h3>

          <a href="https://www.youtube.com/channel/UCPjy5MsKLz-a8lWAQppPaEg" target="blank">
            <i class="fa fa-youtube" aria-hidden="true"></i>
           </a>
          <a href="https://www.instagram.com/allon6cr/" target="blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a href="https://www.facebook.com/All-on-6-Costa-Rica-111965091383509/?ref=pages_you_manage" target="blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
         
        
         
          <p class="copyright">Company Rights © 2022 All On 6 CR</p>
        </div>
      </div>
    </div>
  </footer>
</div>