<h1 class="text-center text-danger">Our Clinic and Specialists</h1>
<br>
<div class="container-fluid">
    <div class="row">

        <div class="col">
            <img id="doctorsPhotos" class="img-fluid mx-auto d-block "
                src="../../../assets/img/Dr William Guido-prosthodontist-modified.png" width="60%" height="auto">
            <br>
            <h4 class="text-danger text-center"><strong>Dr William Guido <br>Prosthodontist</strong></h4>
        </div>
        <div class="col">
            <img id="doctorsPhotos" class="img-fluid mx-auto d-block"
                src="../../../assets/img/Dr. Josue Chaves -surgeon-modified.png" width="60%" height="auto">
            <br>
            <h4 class="text-danger text-center"><strong>Dr Josue Chaves <br> Surgeon</strong></h4>
        </div>
        <div class="col">
            <img id="doctorsPhotos" class="img-fluid mx-auto d-block"
                src="../../../assets/img/Rober Venegas -Lab Manager-modified.png" width="60%" height="auto">
            <br>
            <h4 class="text-danger text-center"><strong>Dr Rober Venegas <br> Manager</strong></h4>
        </div>


    </div>

</div>



<!--Gallery-->
<div class="container-fluid">
    <div class="card " style="background-color:rgb(0, 2, 119); border-color:darkblue;">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button " data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-current="true" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/ClinicGallery/1.png" class="mx-auto d-block w-75 img-fluid" alt="..."
                            height="580px">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/ClinicGallery/2.png" class="mx-auto d-block w-75 img-fluid" alt="..."
                            height="580px">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/ClinicGallery/3.png" class="mx-auto d-block w-75 img-fluid" alt="..."
                            height="580px">
                    </div>
                    <div class="carousel-item ">
                        <img src="../../../assets/ClinicGallery/4.png" class="mx-auto d-block w-75 img-fluid" alt="..."
                            height="580px">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/ClinicGallery/5.png" class="mx-auto d-block w-75 img-fluid" alt="..."
                            height="580px">
                    </div>

                </div>

                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-danger w-50 p-2" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-danger w-50 p-2" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
</div>
<!--Gallery-->

<br>
<br>

<h1 class="text-center text-danger"><strong>REAL PATIENTS FROM ALL ON 6</strong></h1>

<div style="border-color: rgb(1, 1, 109); border-style: solid;"></div>
<br>

<div class="container-fluid">

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top  img-fluid" src="" alt="" height="auto" width="1080px">
            pendiente de ajuste
        </div>
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo2.jpg" alt=""
                height="auto" width="1080px">

        </div>
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo1.jpg" alt=""
                height="auto" width="1080px">

        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo4.jpg" alt=""
                height="auto" width="1080px">

        </div>
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo5.jpg" alt=""
                height="auto" width="1080px">

        </div>
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo6.jpg" alt=""
                height="auto" width="1080px">

        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo7.jpg" alt=""
                height="auto" width="1080px">

        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="../../../assets/Fotos Real Patient page/photo8.jpg" alt=""
                height="auto" width="1080px">

        </div>

    </div>
</div>