<h1 class="text-center text-danger">Our Clinic and Specialists</h1>
<br>
<div class="container-fluid">
    <div class="row">

        <div class="col">
            <img id="doctorsPhotos" class="img-fluid mx-auto d-block "
                src="../../../assets/img/Dr William Guido-prosthodontist-modified.png" width="60%" height="auto">
            <br>
            <h4 class="text-danger text-center"><strong>Dr William Guido</strong></h4>
        </div>
        <div class="col">
            <img id="doctorsPhotos" class="img-fluid mx-auto d-block"
                src="../../../assets/img/Dr. Josue Chaves -surgeon-modified.png" width="60%" height="auto">
            <br>
            <h4 class="text-danger text-center"><strong>Dr Josue Chaves</strong></h4>
        </div>
        <div class="col">
            <img id="doctorsPhotos" class="img-fluid mx-auto d-block"
                src="../../../assets/img/Rober Venegas -Lab Manager-modified.png" width="60%" height="auto">
            <br>
            <h4 class="text-danger text-center"><strong>Dr Rober Venegas</strong></h4>
        </div>

    </div>

</div>


<div class="container-fluid">

    <div class="card text-white bg-primary">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">


            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i
                            class="fa fa-arrow-circle-left fa-4x bg-danger" aria-hidden="true"></i></a>

                    <a class="btn-floating ml-3" href="#multi-item-example" data-slide="next"><i
                            class="fa fa-arrow-circle-right fa-4x bg-danger" aria-hidden="true"></i></a>
                </div>
                <!--/.Controls-->

                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example" data-slide-to="1"></li>


                </ol>
                <!--/.Indicators-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="../../../assets/gallery/photo1.jpg"
                                        alt="Card image cap" width="100%" height="auto">

                                </div>
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="../../../assets/gallery/photo3.jpg"
                                        alt="Card image cap" width="100%" height="auto">

                                </div>
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="../../../assets/gallery/photo4.jpg"
                                        alt="Card image cap" width="100%" height="auto">

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="../../../assets/gallery/photo5.jpg"
                                        alt="Card image cap" width="100%" height="auto">

                                </div>
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="../../../assets/gallery/photo6.jpg"
                                        alt="Card image cap" width="100%" height="auto">

                                </div>
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="../../../assets/gallery/photo7.jpg"
                                        alt="Card image cap" width="100%" height="auto">

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.Second slide-->

                </div>
                <!--/.Slides-->

            </div>
            <!--/.Carousel Wrapper-->

        </div>
    </div>

</div>

<br>
<br>

<h1 class="text-center text-danger"><strong>REAL PATIENTS FROM ALL ON 6</strong></h1>

<div style="border-color: rgb(1, 1, 109); border-style: solid;"></div>
<br>

<div class="container-fluid">

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top  img-fluid" src="" alt="" height="auto" width="1080px">
           pendiente de ajuste
        </div>
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo2.jpg" alt="" height="auto"
                width="1080px">

        </div>
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo1.jpg" alt="" height="auto"
                width="1080px">

        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo4.jpg" alt="" height="auto"
                width="1080px">

        </div>
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo5.jpg" alt="" height="auto"
                width="1080px">

        </div>
        <div class="card">
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo6.jpg" alt="" height="auto"
                width="1080px">

        </div>
    </div>
    <div class="card-deck">
        <div class="card"> 
            <img class="card-img-top  img-fluid" src="../../../assets/Fotos Real Patient page/photo7.jpg" alt="" height="auto"
                width="1080px">

        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="../../../assets/Fotos Real Patient page/photo8.jpg" alt="" height="auto"
                width="1080px">

        </div>

    </div>
</div>