<div id="Section1">
    <app-section1></app-section1>
</div>
<div class="container-fluid">
    
    <div id="Section2">
        <app-section2></app-section2>
    </div>
    <div id="Section3">
        <app-section3></app-section3>
    </div>
    <div id="Section4">
        <app-section4></app-section4>
    </div>
    <div id="Section5">
        <app-section5></app-section5>
    </div>
    <div id="Section6">
        <app-section6></app-section6>
    </div>

    <div id="Section7">
        <app-section7></app-section7>
    </div>
    <br>
    <br>
   
</div>
<app-footer></app-footer>
