#LogoAllOn6{
 
  
}
#Container{
    background-image: url("../../../assets/img/BannerPrincipal.png");

}
p{
    font-size: x-large;
    font-family: 'Arial';
    text-align: justify;
}
.card{
    border: none;
}