<img class="img-fluid mx-auto d-block" src="/assets/img/AllOn6Logo.png" width="auto">

<div class="d-flex flex-row-reverse bd-highlight">


    <a class="mr-4" target="blank"
        href="https://www.facebook.com/All-on-6-Costa-Rica-111965091383509/?ref=pages_you_manage"><i
            class="fa fa-facebook-official" aria-hidden="true" style="font-size: 3rem;"></i></a>
    <a class="mr-4" target="blank" href="https://www.instagram.com/allon6cr/"><i class="fa fa-instagram"
            aria-hidden="true" style="font-size: 3rem;"></i></a>
    <a class="mr-4" target="blank" href="https://www.youtube.com/channel/UCPjy5MsKLz-a8lWAQppPaEg"><i
            class="fa fa-youtube" aria-hidden="true" style="font-size: 3rem;"></i></a>

</div>
<div style="background-color: red; height: 10px;"></div>
<img class="img-fluid" src="../../../assets/img/BannerPrincipal.png" width="100%" height="auto">
<div style="background-color: red; height: 10px;"></div>
<app-navigation></app-navigation>
<div style="background-color: red; height: 10px;"></div>
<img class="img-fluid mx-auto d-block mt-3" src="/assets/img/AllOn6Logo.png" width="200px">

<div class="container-fluid">
    <div class="card-group">
        <div class="card">

            <div class="card-body">
                <br>
                <br>

                <h2><strong>The Treatment</strong></h2>
                <p>
                    All on 6 Implant System is a restoration treatment in which the patient receives 4 to 6 dental
                    implants with
                    titanium metal bar frame and acrylic teeth which makes it an aesthetically natural, comfortable and
                    affordable alternative to dentures
                </p>
            </div>
        </div>
        <div class="card">
            <img class="img-fluid mx-auto d-block mt-3" src="/assets/img/Imagen1.png" width="100%">

        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <img class="img-fluid mx-auto d-block mt-3" src="../../../assets/img/BeforeAfter.jpeg" width="100%">
    </div>
    <hr>
    <div class="card-deck">
        <div class="card">

            <div class="card-body">
                <iframe
                    src="https://www.youtube.com/embed/uEsdjKHOGVk?vq=hd1080&modestbranding=1&iv_load_policy=3&theme=light&color=white&controls=0"
                    width="100%" height="460" frameborder="0"></iframe>
                <br>
                <br>
                <br>
                <a href="http://">
                    <h1 class="text-primary">Click here for full package information <i class="fa fa-hand-o-up"
                            aria-hidden="true"></i></h1>
                </a>
            </div>
        </div>
        <div class="card">
            <img class="img-fluid mx-auto d-block mt-3" src="/assets/img/AllOn6Logo.png" width="200px">

            <div class="card-body">
                <ul class="list-group">

                    <li class="list-group-item text-center"><strong>It Shows rapid improvement.</strong></li>
                    <br>
                    <li class="list-group-item text-center"><strong>Makes you enjoy eating and speaking comfortably
                            again.</strong>
                    </li>
                    <br>
                    <li class="list-group-item text-center"><strong>You have a pearly white smile.</strong></li>
                    <br>
                    <li class="list-group-item text-center"><strong>Removable dentures are not required.</strong></li>

                </ul>
                <img src="../../../assets/img/AllOn6PricePackage.png" width="100%">
            </div>
        </div>
    </div>
    <hr>
    <app-gallery></app-gallery>
   
    <app-form-contact></app-form-contact>
</div>