<div class="card-group">
    <div class="card animate__animated animate__bounceInLeft">

        <div class="card-body">
            <br>
            <br>

            <h2><strong>The Treatment</strong></h2>
            <p>
                All on 6 Implant System is a restoration treatment in which the patient receives 4 to 6 dental
                implants with
                titanium metal bar frame and acrylic teeth which makes it an aesthetically natural, comfortable and
                affordable alternative to dentures
            </p>
        </div>
    </div>
    <div class="card animate__animated animate__backInRight">
        <img class="img-fluid mx-auto d-block mt-3" src="/assets/img/Imagen1.png" width="100%">

    </div>
</div>