
#Container{
    background-image: url("../../../assets/img/BannerPrincipal.png");

}
P{
    font-size:x-large;
    font-family: 'Arial';
    text-align: justify;
    color: #064973
}
#CardImagenTratment{
    border: none;
}
#Titulotreat{
    color: #064973;
    font-size: 40px
    
}
#CardTreatmentDescription{
   border: none;
   max-width: 600px;
}
#doctorsPhotos{
    border-radius: 50%;
}