
#Container{
    background-image: url("../../../assets/img/BannerPrincipal.png");

}
p{
    font-size: x-large;
    font-family: 'Arial';
    text-align: justify;
    color: black;
}
#CardImagenTratment{
    border: none;
}
#CardTreatmentDescription{
    border-radius: 2%;
    background-color: whitesmoke;
    
}
#doctorsPhotos{
    border-radius: 50%;
}