<h1>All on 6 FULL PACKAGE</h1>
<div class="card-deck">
   
    <div class="card">

        <div class="card-body">
            <iframe
                src="https://www.youtube.com/embed/uEsdjKHOGVk?vq=hd1080&modestbranding=1&iv_load_policy=3&theme=light&color=white&controls=0"
                width="100%" height="460" frameborder="0"></iframe>
            <br>
            <br>
            <br>
            <a target="blank" href="https://drive.google.com/file/d/13vKpshSm2AdRLdVu4Dx1hpBssRw8LXey/view?usp=sharing">
                <h2 class="text-primary text-center">Click here for full package information <i class="fa fa-hand-o-up"
                        aria-hidden="true"></i></h2>
            </a>
        </div>
    </div>
    <div class="card">
        <img class="img-fluid mx-auto d-block mt-3" src="/assets/img/AllOn6Logo.png" width="200px">

        <div class="card-body">
            <ul class="list-group">

                <li class="list-group-item text-center"><strong>It Shows rapid improvement.</strong></li>
                <br>
                <li class="list-group-item text-center"><strong>Makes you enjoy eating and speaking comfortably
                        again.</strong>
                </li>
                <br>
                <li class="list-group-item text-center"><strong>You have a pearly white smile.</strong></li>
                <br>
                <li class="list-group-item text-center"><strong>Removable dentures are not required.</strong></li>

            </ul>
            <img src="../../../assets/img/AllOn6PricePackage.png" width="100%">
        </div>
    </div>
</div>