.card{
    border: none;
}
li{
    border: none;
    font-size: 25px;
}
#TitleAllOn6{
    text-align: center;
    font-family:'Arial' ;
    color: white;
}
#TitleAllOn6Package{
    background-color: red;
    padding: 15px;
    border-radius: 50px;
}