<br>
<br>
<div id="TitleLabResult">
    <h2 class="text-center text-white">In house Lab Result</h2>
</div>
<br>
<div style="border-color: rgb(1, 1, 109); border-style: solid;"></div>
<br>

<div class="container-fluid">

    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="../../../assets/Fotos Lab Result/1.png" alt="">
           
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/Fotos Lab Result/2.png" alt="">
            
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/Fotos Lab Result/3.png" alt="">
           
        </div>
    </div>
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="../../../assets/Fotos Lab Result/4.png" alt="">
         
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/Fotos Lab Result/5.png" alt="">
           
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/Fotos Lab Result/6.png" alt="">
           
        </div>
    </div>
</div>