<br>
<br>
<div id="ContainerTitleClinic">
    <h2 class="text-center text-white">Our Clinic and Specialists</h2>
</div>
<br>
<div class="container-fluid">
    <div class="row">

        <div class="col">
            <img id="doctorsPhotos" class="img-fluid mx-auto d-block "
                src="../../../assets/img/Dr William Guido-prosthodontist-modified-modified.png" width="60%"
                height="auto">
            <br>
            <h3 class="text-dark text-center"><strong>Dr. William Guido </strong>
                <hr><span class="text-center">Prosthodontist</span>
            </h3>

        </div>
        <div class="col">
            <img id="doctorsPhotos" class="img-fluid mx-auto d-block"
                src="../../../assets/img/Dr. Josue Chaves -surgeon-modified.png" width="60%" height="auto">
            <br>
            <h3 class="text-dark text-center"><strong>Dr. Josue Chaves</strong>
                <hr>
                <span class="text-center">Surgeon
                </span>
            </h3>

        </div>
        <div class="col">
            <img id="doctorsPhotos" class="img-fluid mx-auto d-block"
                src="../../../assets/img/Rober Venegas -Lab Manager-modified.png" width="60%" height="auto">
            <br>
            <h3 class="text-dark text-center"><strong>Dr. Rober Venegas</strong>
                <hr> <span>Lab Manager</span>
            </h3>

        </div>


    </div>

</div>

<br>
<br>
<!--Gallery-->
<div class="container-fluid">

    <div class="card-deck">
        <div class="card ">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button " data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-current="true" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>

                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../assets/ClinicGallery/1.png" class="mx-auto d-block  img-fluid" alt="..."
                                height="580px">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/ClinicGallery/2.png" class="mx-auto d-block img-fluid" alt="..."
                                height="580px">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/ClinicGallery/3.png" class="mx-auto d-block  img-fluid" alt="..."
                                height="580px">
                        </div>
                        <div class="carousel-item ">
                            <img src="../../../assets/ClinicGallery/4.png" class="mx-auto d-block  img-fluid" alt="..."
                                height="580px">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/ClinicGallery/5.png" class="mx-auto d-block  img-fluid" alt="..."
                                height="580px">
                        </div>

                    </div>

                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon w-50 p-2" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon  w-50 p-2" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>

        <div class="card" id="CardDescriptionClinic">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">

                <p class="card-text">We are a clinic located in Costa Rica, with more than 14 years of experience in
                    dental implants and specialists in the All on 6 technique. This technique consists of placing 6
                    implants, where a titanium porcelain bridge is placed that is fixed to these implants, in this way,
                    in a single trip to Costa Rica and in a few days, we can give our patients a completely new smile
                    thanks to our internal laboratory and our highly trained specialists.
                    The all on six technique is a technique that is used in the rehabilitation of the upper and lower
                    jaw when a serious resorption of the bone has not yet been detected, schedule your appointment and
                    transform your life with a new smile.

                </p>
            </div>
        </div>

    </div>
</div>
<!--Gallery-->